/* Header */
h1 {
    color: orangered;
    font-size: 45px;
}

/* Grid */
#box1, #box2, #box3, #box4, #box5, #box6, #box7, #box8, #box9 {
    width: 80px;
    height:52px;
    margin: auto;
    border: 1px solid gray;
    border-radius: 6px;
    font-size: 30px;
    text-align: center;
    cursor: pointer;
}

/* Reset button */
#reset {
    box-sizing: border-box;
    width: 95px;
    height: 40px;
    border: 1px solid dodgerblue;
    margin: auto;
    border-radius: 4px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: dodgerblue;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

/* Player Turn */
#player {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: dodgerblue;
    font-size: 20px;
}

/* Main Container */
#main {
    text-align: center;
    margin-top: 100px;
}

#instructions {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: dodgerblue;
    font-size: 17px;
}